@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/menu.css" />
<div style="display: flex; align-items: flex-start;">
    <div class="menuSidebar">
        <label class="sidebarButton" onclick="location.href='@Url.Action("Account", "Home")'">Account</label>
        <label class="sidebarButton" onclick="location.href='@Url.Action("Posts", "Home")'">Posts</label>
        <label class="sidebarButton" onclick="location.href='@Url.Action("Friends", "Home")'">Friends</label>
        <label class="sidebarButton" onclick="location.href='@Url.Action("Chats", "Home")'">Chats</label>
    </div>
    @RenderBody()
</div>
